body{
  background-color: #E3F4F4;
  text-align: center;
  font-family: 'Outfit', sans-serif;
}
.main-component{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  max-width: 320px;
  height: auto;
  padding: 15px;
  margin: 100px auto;
}
img{
  width:100%;
  border-radius:20px;
}
.text{
  padding:10px;
}
.bottom-container{
  color: #F1F6F9;
  font-size: 0.75rem;
  padding-top: 10px;
}  
