body{
  background-color: hsl(212,45%,89%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  font-family: 'Outfit', sans-serif;
}
.main-component{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  max-width: 320px;
  padding: 15px;
}
img{
  width:100%;
  border-radius:20px;
}
.text{
  padding:10px;
}
